/* Navigation Styles */
nav {
    width: 100%;
    background-color: rgba(79, 72, 72, 0.9);
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.nav-list li a:hover {
    background-color: #a24636;
    border-radius: 20px;
}

/* Button Styles */
.nav-btns {
    margin-left: 588px;
    display: flex;
    align-items: center;
}

.nav-btns button {
    background-color: #3d3ddb;
    color: white;
    border: 2px solid blue;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s;
    width: auto;
}

.nav-btns button:hover {
    background-color: #2828d4;
}

/* Specific Buttons */
.login-btn, .signup-btn, .logout-btn {
    width: 80px;
}
